/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:'Inter',sans-serif;

background:#fafafa;

color:#111;

line-height:1.6;

}


/* HEADER */

header{

position:fixed;

top:0;

width:100%;

padding:28px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,.85);

backdrop-filter:blur(12px);

z-index:999;

border-bottom:1px solid #ececec;

}

.logo{

font-family:'Playfair Display',serif;

font-size:32px;

}

nav{

display:flex;

gap:40px;

}

nav a{

text-decoration:none;

color:#111;

font-weight:500;

letter-spacing:2px;

font-size:14px;

text-transform:uppercase;

transition:.3s;

}

nav a:hover{

opacity:.5;

}


/* HERO */

.hero{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:120px 20px;

}

.hero-logo{

width:220px;

margin-bottom:45px;

transition:.4s;

}

.hero-logo:hover{

transform:rotate(-4deg) scale(1.03);

}

.hero h1{

font-family:'Playfair Display',serif;

font-size:92px;

font-weight:400;

line-height:1;

margin-bottom:25px;

}

.subtitle{

font-size:34px;

font-style:italic;

color:#666;

margin-bottom:70px;

}

.quote{

margin-bottom:70px;

}

.quote p{

letter-spacing:8px;

font-size:20px;

margin:14px 0;

}


/* BUTTONS */

.buttons{

display:flex;

gap:25px;

flex-wrap:wrap;

justify-content:center;

}

.btn-black{

background:#111;

color:white;

padding:20px 46px;

text-decoration:none;

letter-spacing:4px;

transition:.35s;

border:2px solid #111;

}

.btn-black:hover{

background:white;

color:#111;

}

.btn-white{

background:white;

color:#111;

padding:20px 46px;

border:2px solid #111;

text-decoration:none;

letter-spacing:4px;

transition:.35s;

}

.btn-white:hover{

background:#111;

color:white;

}


/* SECTIONS */

section{

padding:140px 12%;

}

section h2{

font-family:'Playfair Display',serif;

font-size:60px;

margin-bottom:40px;

}

section p{

font-size:22px;

max-width:900px;

color:#555;

}
